In [29]:
import pandas as pd
import numpy as np
import os
import datetime

In [30]:
path = r'D:\Trabajo\Barómetro\BX\Web Scraping\Pie Charts Ecuador\Historico hasta enero 26 2022' + '\\'

In [31]:
df = pd.read_excel(path + "archivo_0.xlsx", skiprows=9)
df

          all  all.1
0    Trabajo     282
1      Salud    1283
2  Seguridad     977
3   Educación    285

In [18]:
df.rename(columns= {"all": "Categoria", "all.1": "Volumen"}, inplace=True)

In [19]:
df

    Categoria  Volumen
0    Trabajo      2079
1       Mujer      519
2  Educación       705
3  Seguridad      4435
4      Salud      1493

In [20]:
df.sum()[1]

9231

In [21]:
start_date = '2020-01-01' # YYYY-MM-DD
end_date = '2022-02-04' # PATTERN YYYY-MM-DD - YYYY-MM-DD
def next_week(fecha:str) -> str:
    nueva_fecha = datetime.datetime.strptime(fecha,'%Y-%m-%d').date()
    nueva_fecha = nueva_fecha + datetime.timedelta(days=7)
    return str(nueva_fecha)

def query_pie_chart(start_date: str, end_date: str) -> list:
    centinela = True
    retorno = list()
    two_weeks = next_week(next_week(start_date)) 
    n = 0
    while centinela == True:
        if n == 0:
            envio_range_fechas = start_date + " - " + two_weeks
            retorno.append(envio_range_fechas)
        else:
            start_date = two_weeks
            two_weeks = next_week(next_week(start_date))
            two_weeks_verif = datetime.datetime.strptime(two_weeks,'%Y-%m-%d').date()
            end_date_verif = datetime.datetime.strptime(end_date,'%Y-%m-%d').date()
            if int((end_date_verif - two_weeks_verif).days) < 0:
                centinela = False
            else:
                envio_range_fechas = start_date + " - " + two_weeks
                retorno.append(envio_range_fechas)
        n+=1
    return retorno
fechas = query_pie_chart(start_date, end_date)

In [22]:
final = pd.DataFrame()
for i in range(0,54):
    df = pd.read_excel(path + "archivo_" + str(i) + ".xlsx", skiprows=9)
    df.rename(columns= {"all": "Categoria", "all.1": "Volumen"}, inplace=True)
    dato = {'Categoria': 'Total', 'Volumen': df.sum()[1]}
    df = df.append(dato, ignore_index=True)
    df["Rango Fecha"] = fechas[i]
    final = final.append(df)

In [23]:
final

     Categoria  Volumen              Rango Fecha
0     Trabajo      2079  2020-01-01 - 2020-01-15
1        Mujer      519  2020-01-01 - 2020-01-15
2   Educación       705  2020-01-01 - 2020-01-15
3   Seguridad      4435  2020-01-01 - 2020-01-15
4       Salud      1493  2020-01-01 - 2020-01-15
..         ...      ...                      ...
1        Mujer      299  2022-01-12 - 2022-01-26
2   Educación       684  2022-01-12 - 2022-01-26
3   Seguridad      3962  2022-01-12 - 2022-01-26
4       Salud      1079  2022-01-12 - 2022-01-26
5        Total     7421  2022-01-12 - 2022-01-26

[324 rows x 3 columns]

In [24]:
melteddf = final.pivot(index='Rango Fecha', columns=['Categoria'], values=['Volumen'])

In [25]:
melteddf

                           Volumen
Categoria               Educación  Mujer Salud  Seguridad   Total Trabajo
Rango Fecha
2020-01-01 - 2020-01-15        705   519   1493       4435   9231     2079
2020-01-15 - 2020-01-29       1058   607   2437       5657  11401     1642
2020-01-29 - 2020-02-12        975   479   1344       5166   9683     1719
2020-02-12 - 2020-02-26       1187   438   2042       6233  13379     3479
2020-02-26 - 2020-03-11       1078   664   2381       4003   9607     1481
2020-03-11 - 2020-03-25       1191   526  16105      13872  36360     4666
2020-03-25 - 2020-04-08       6665  1116  24733      18227  60681     9940
2020-04-08 - 2020-04-22        960   447   9038       4111  16042     1486
2020-04-22 - 2020-05-06        594   348   4966       4823  12080     1349
2020-05-06 - 2020-05-20        590   347   4298       6999  13451     1217
2020-05-20 - 2020-06-03        586   392   3153       4625  10036     1280
2020-06-03 - 2020-06-17        575   540   2279       4151   8667     1122
2020-06-17 - 2020-07-01        598   695   2297       5171   9900     1139
2020-07-01 - 2020-07-15        633   458   2836       8472  13633     1234
2020-07-15 - 2020-07-29        854   434   2705       4479   9853     1381
2020-07-29 - 2020-08-12       1021   429   1772       3152   7700     1326
2020-08-12 - 2020-08-26        555   409   1946       3457   7849     1482
2020-08-26 - 2020-09-09        504   311   1842       3931   7415      827
2020-09-09 - 2020-09-23       1132   380   1772       6314  10726     1128
2020-09-23 - 2020-10-07        834   391   1402       3785   7356      944
2020-10-07 - 2020-10-21        975   406   1738       3706   8130     1305
2020-10-21 - 2020-11-04       1014   589   3345      20271  27418     2199
2020-11-04 - 2020-11-18        816   358   2096       7052  11705     1383
2020-11-18 - 2020-12-02        744   375   1873       3708   7863     1163
2020-12-02 - 2020-12-16        697   408   1484       3633   7068      846
2020-12-16 - 2020-12-30        743   250  11130       3652  18176     2401
2020-12-30 - 2021-01-13        511   279   2251       2327   6454     1086
2021-01-13 - 2021-01-27        680   422   3123       3439   8821     1157
2021-01-27 - 2021-02-10       2054   398   3634       9383  25317     9848
2021-02-10 - 2021-02-24       1504   318   3216       6295  15060     3727
2021-02-24 - 2021-03-10        960   387   1768       3712  10011     3184
2021-03-10 - 2021-03-24       1434  1353   3392      23784  33672     3709
2021-03-24 - 2021-04-07        736   365   2894       6412  11762     1355
2021-04-07 - 2021-04-21       1016   330   2171       3947   8660     1196
2021-04-21 - 2021-05-05        920   423   4118       9402  18383     3520
2021-05-05 - 2021-05-19        909   366   1429       7189  11435     1542
2021-05-19 - 2021-06-02        976   275   1597       5646   9752     1258
2021-06-02 - 2021-06-16        704   248   1777       4500   8724     1495
2021-06-16 - 2021-06-30        872   377   1575       3305   7478     1349
2021-06-30 - 2021-07-14        759   600   1512       9523  16095     3701
2021-07-14 - 2021-07-28        524   352   1898       6535  10926     1617
2021-07-28 - 2021-08-11        690   606   1692       5441   9745     1316
2021-08-11 - 2021-08-25        705   899   1797      13693  20272     3178
2021-08-25 - 2021-09-08        963   481   1696       5135   9827     1552
2021-09-08 - 2021-09-22        843   308   1332       5639   9722     1600
2021-09-22 - 2021-10-06        821   403   1294       3952   7675     1205
2021-10-06 - 2021-10-20        881   311   1688       8591  13529     2058
2021-10-20 - 2021-11-03       1011   357   1936       3561   8680     1815
2021-11-03 - 2021-11-17        815   297   1604       3718   7836     1402
2021-11-17 - 2021-12-01       1047   305   1165       2878   6635     1240
2021-12-01 - 2021-12-15       1006   327   1163       4408   8361     1457
2021-12-15 - 2021-12-29        894   269    950       2709   6262     1440
2021-12-29 - 2022-01-12        517   259   1437       6206   9812     1393
2022-01-12 - 2022-01-26        684   299   1079       3962   7421     1397

In [26]:
melteddf.columns = melteddf.columns.droplevel()
melteddf.head(5)

Categoria,Educación,Mujer,Salud,Seguridad,Total,Trabajo
Rango Fecha,,,,,,
2020-01-01 - 2020-01-15,705,519,1493,4435,9231,2079
2020-01-15 - 2020-01-29,1058,607,2437,5657,11401,1642
2020-01-29 - 2020-02-12,975,479,1344,5166,9683,1719
2020-02-12 - 2020-02-26,1187,438,2042,6233,13379,3479
2020-02-26 - 2020-03-11,1078,664,2381,4003,9607,1481

In [27]:
columns_list = melteddf.columns
columns_list = columns_list.drop('Total')
for i in range(len(columns_list)):
    texto = str(columns_list[i]).strip()
    melteddf[texto + " %"] = melteddf[columns_list[i]]/melteddf['Total']
melteddf.head(5)

Categoria,Educación,Mujer,Salud,Seguridad,Total,Trabajo,Educación %,Mujer %,Salud %,Seguridad %,Trabajo %
Rango Fecha,,,,,,,,,,,
2020-01-01 - 2020-01-15,705,519,1493,4435,9231,2079,0.076373,0.056224,0.161738,0.480446,0.225219
2020-01-15 - 2020-01-29,1058,607,2437,5657,11401,1642,0.092799,0.053241,0.213753,0.496185,0.144022
2020-01-29 - 2020-02-12,975,479,1344,5166,9683,1719,0.100692,0.049468,0.138800,0.533512,0.177528
2020-02-12 - 2020-02-26,1187,438,2042,6233,13379,3479,0.088721,0.032738,0.152627,0.465879,0.260034
2020-02-26 - 2020-03-11,1078,664,2381,4003,9607,1481,0.112210,0.069116,0.247840,0.416675,0.154158

In [28]:
melteddf.to_excel("Histórico_Pie_Charts.xlsx")